<h1 class="text-2xl semibold">歡迎來到Ting's Project!</h1>

<p class="lead">這是利用template_Demo所產生的Rails App，您可以增加自己需要的gem在template.rb裡。</p>
<%= link_to '參考：Rails Application Templates', "https://guides.rubyonrails.org/rails_application_templates.html" %>